@font-face {
  font-family: "Quicksand";
  src: url("../../public/fonts/Quicksand-Regular.ttf") format("truetype"); /* Формат 'ttf' заменен на 'truetype' */
  font-weight: normal;
  font-style: normal;
}
