@import "../styles/variables";

.chatApp {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 10px;
  border-radius: 15px;
  margin-top: 40px;
  box-shadow: 3px 3px 3px 3px #d5d5d5;
  position: relative;
}
